{% extends "base.html" %}

{% block body %}
    <a href="https://en.wikipedia.org/wiki/Virtual_reality" target=”_blank”>Virtual Reality</a> interests me, as someone who plays games, and longs to escape from reality.<br/>
    It is also great for training in a proessional area, where you wouldn't normally be able to train, i.e, pilots, astronauts, etc.<br/>
    It allows a realistic version of, say, a car, or plane, without putting the driver or pilot at risk in a real vehicle.<br/><br/>
    Virtual reality can also include Augmented Reality, which honestly interests me more, as Alternate Reality Games (ARG's) really interest me.<br/>
    Examples of ARG's I like are from a company called <a href="https://www.aliceandsmith.com" target=”_blank”>"Alice & Smith"</a>.


{% endblock %}