{% extends "base.html" %}

{% block body %}
<a href="https://en.wikipedia.org/wiki/Internet_of_things" target=”_blank”>Internet of Things - (IoT)</a> interests me, as it allows 
various devices to communicate between each other using sensors, processing ability, software, and other technologies.<br/>
I'm interested in this not from the IoT perspective itself, but how companies will ensure these devices are secure, and not easily breached by a hack.<br/>
I suppose you could say I'm more interested in the security systems behind IoT devices.<br/>
{% endblock %}