{% extends "base.html" %}

{% block body %}
    <a href="https://en.wikipedia.org/wiki/Quantum_computing#:~:text=Quantum%20computing%20is%20a%20type,are%20known%20as%20quantum%20computers." target=”_blank”>Quantum Computing</a> interests me, as it allows 
    computers to make more computations per second than ever before, which is exciting for Quantum Physics simulations.<br/>
    This is exciting, as it would allow us to discover more about the Universe, and the laws of physics behind it, that makes us live.<br/>
    It's also scary, however, as quantum computers make current security measures on computers, such as encrpytion, redundant, meaning we'd need brand new security systems for passwords and encryption.
{% endblock %}