{% extends "base.html" %}

{% block body %}
        My main interests are <a href="https://en.wikipedia.org/wiki/Airsoft" target=”_blank”>airsoft</a>,<br/>
        and <a href="https://magic.wizards.com/en" target=”_blank”>Magic the Gathering (MTG)</a>.<br/>
        I also have an interest in video games, but this has subsided recently, due to the current condition of AAA games development.<br/><br/>
        Airsoft, put simply, is a sport where teams of two, or sometimes more, face off against each other with replica firearms that fire 6mm BBs.<br/>
        The sport is considered safe, but often comes under <a href="https://en.wikipedia.org/wiki/Legal_issues_in_airsoft" target=”_blank”>controversy</a>, 
        due to the rifles mimicking real steel guns.<br/><br/>
        MTG is a trading card game that was released in 1993 by Wizards of the Coast, and has many formats. The format I play is
        <a href="https://magic.wizards.com/en/content/commander-format" target=”_blank”>commander</a>, which is the most popular format in the college.<br/><br/>
        I still play video games, but a lot of the ones I play are older games, as most modern games are plagued with flaws. <br/>
        Examples are <a href="https://en.wikipedia.org/wiki/Loot_box" target=”_blank”>loot boxes</a>, and 
        <a href="https://whatnerd.com/aaa-games-are-getting-worse/" target=”_blank”>various other problems</a>.
{% endblock %}