{% extends "base.html" %}

{% block body %}
<table>
    {%for data in theData%}
    <tr>
        <td>Your email: 
        </td>
        <td>
            {{ data[0] }}
        </td>
    </tr>
    <tr>
        <td>Your message:
        </td>
        <td>
            {{ data[1] }}
        </td>
    </tr>
    <tr>
        <td>Date:
        </td>
        <td>
            {{ data[2] }}
        </td>
    </tr>
    <tr>
        <td>Time:
        </td>
        <td>
            {{ data[3] }}
        </td>
    </tr>
    <tr>
        <td>&nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    {%endfor%}
</table>
{% endblock %}